@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="generic-headline">@Model.Value("articleTitle")</h1>
            <div class="article-p">@Model.Value("articleContent")</div>
        </div>
    </div>
</div>