@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h1>@Model.Value("articleTitle")</h1>
<p>@Model.Value("articleContent")</p>