@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}


@{
	var selection = Umbraco.Content(Guid.Parse("c5e4fa67-2a66-4fe6-b334-93c0eaa0cabe"))
    .Children()
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.UpdateDate);
}

<div class="container-fluid">
    <div class="row articles">
        <div class="col-lg-12">
            <h1 class="generic-headline">Articles</h1>
            <p class="generic-p">Here you can find a list with links to our articles:</p>
        </div>

        <div class="col-lg-12">
            <ul>
                @foreach (var item in selection)
                {
                    <li>
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


