@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForbiddenAccess>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <img src="~/assets/images/403-error.gif" alt="Alternate Text" class="img-fluid"/>
        </div>
    </div>
</div>