@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<div class="ellipse"></div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 align-self-center order-lg-0 order-md-0 order-12">
            <h1 class="home-headline">@Model.Value("homeTitle")</h1>
            <p class="home-content">@Model.Value("homeMainContent")</p>
            <button class="button button-home" onclick="window.location.href = '@Umbraco.Content(1084).Url';">Learn more</button>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="~/assets/images/landing-page-image2.png" class="img-fluid" alt="image" />
        </div>
    </div>
</div>


<hr />

<div class="container-fluid">
    @Html.Partial("_news")
</div>


