@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}


<div class="container-fluid">
    <div class="contact-form">
        @Html.Partial("_loginForm")
    </div>
</div>
