@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{

    var root = Model.Content.Root();

    var items = root.FirstChildOfType("projectsOverview")
        .Children()
        .Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus").Value<string>() == "Completed")
        .OrderByDescending(x => x.CreateDate)
        .Take(5);
}

@foreach (var item in items)
{
    <ul>
        <li>
            <a href="@item.Url">@item.Value("projectTitle")</a>
        </li>
    </ul>
}